<li class="flex py-6">
  <div
    class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200">
    <img
      [appFallbackImage]="item().name"
      src="{{ item().img }}"
      alt="{{ item().name }} image"
      class="size-full object-cover" />
  </div>
  <div class="ml-4 flex flex-1 flex-col">
    <div>
      <div class="flex justify-between text-base font-medium text-gray-900">
        <h3 class="text-sm text-indigo-800 font-medium leading-tight truncate">
          {{ item().name }}
        </h3>
        <p class="ml-4">{{ itemSubTotal() | huf }}</p>
      </div>
    </div>
    <div class="flex flex-1 items-end justify-between text-sm">
      <p class="text-gray-500">x {{ item().quantity! }}</p>
      <div class="flex">
        <button
          type="button"
          (click)="handleRemoveFromCart()"
          class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">
          Remove
        </button>
      </div>
    </div>
  </div>
</li>
