<a class="group block">
  <div class="overflow-hidden relative">
    <img
      [src]="productData().img"
      (error)="onImageError($event)"
      [alt]="imageAlt"
      class="aspect-square w-full rounded-lg bg-gray-200 object-cover hover:opacity-75 xl:aspect-[7/8] transform hover:scale-125 transition-transform duration-300 peer" />
    @if (remainingAmount() <= 0) {
      <span
        class="absolute top-2 right-2 bg-indigo-700 text-white text-xs font-semibold px-2 py-1 rounded shadow-md uppercase tracking-wide">
        Out of Stock
      </span>
    }
  </div>
  <h3
    class="mt-4 text-sm text-indigo-800 font-medium leading-tight truncate"
    [title]="productData().name">
    {{ productData().name }}
  </h3>
  <div class="flex justify-between items-end mt-2">
    <p class="text-lg font-light text-gray-900">
      {{ productData().price | currency }}
    </p>

    <div class="flex flex-row items-center gap-2">
      <input
        type="number"
        [min]="minOrderAmount()"
        [max]="remainingAmount()"
        [value]="minOrderAmount()"
        (input)="onQuantityInput($event)"
        class="w-16 rounded border border-gray-300 px-2 py-1 text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />

      <button
        class="rounded shop-button px-3 py-1 text-sm font-medium text-white disabled:bg-gray-400 disabled:cursor-not-allowed disabled:opacity-70 transition cursor-pointer"
        [disabled]="remainingAmount() <= 0"
        (click)="handleAddToCart()">
        Add
      </button>
    </div>
  </div>
</a>
