<div class="min-h-screen">
  <nav class="bg-indigo-950">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="shrink-0">
            <img
              class="size-18"
              routerLink="/"
              src="assets/img/aldi-webshop-logo-colorful.png"
              alt="Aldi Webshop" />
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              @for (item of navigationItems; track item.label) {
                <app-nav-item
                  [routerLink]="item.routerLink"
                  [label]="item.label" />
              }
            </div>
          </div>
        </div>
        <app-cart-indicator />
      </div>
    </div>
  </nav>

  <header class="bg-white shadow-sm">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">
        {{ pageTitle() }}
      </h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
